.admin-page {
  //max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  header {
    margin-bottom: 300px;
  }
}

.admin-page-container {
  position: relative;
  // TODO: 1500
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 90px;

  //padding: 100px 0 0 0;

  &.calendar {
    max-width: 2000px;
  }

}

.page-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 32px;
}

.page-title {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  letter-spacing: -0.017em;

  color: #4C4C4C;

  //margin-bottom: 32px;
}

.page-title-buttons-container {
  display: flex;

  &>.button {
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}