.calendar-page {
  //max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  header {
    margin-bottom: 300px;
  }
}

.calendar-page-container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 90px;

  //padding: 100px 0 0 0;
}

.calendar-widget-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #FFFFFF;
  border: 0;
  border-radius: 8px;
  font-size: 18px;
  min-height: 39px;
  outline-color: #6B9EA4;
  padding: 6px 16px 6px 16px;
  //width: 200px;
  width: fit-content;
  &.big {
    width: 100%;
    height: 100%;
  }

  &.green-border {
    border: 1px solid #6B9EA4;
  }

  &>svg {
    margin-left: 20px;
  }
}

.calendar-date-selector-container {
  position: relative;
}

.calendar-widget-container {
  margin-top: 10px;
  position: absolute;
  z-index: 10;
}