.calendar-page {
  //max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  header {
    margin-bottom: 300px;
  }
}

.calendar-page-container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 90px;

  //padding: 100px 0 0 0;
}
