.editor-search-item {
  position: relative;
}


.input-search-container {
  position: relative;
}

.input-search-button {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.search-result-container {
  position: absolute;
  top: 55px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 400px;

  background: #FFFFFF;
  border-radius: 8px;
  font-size: 18px;

  z-index: 10;

  &.hidden {
    display: none;
  }
}

.search-result {
  width: 100%;
  padding: 4px 8px 4px 8px;

  color: #4C4C4C;

  &:hover {
    background-color: #F5F5F5;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid #4C4C4C;
  }
}